/* Dashboard */

a{
    color: #fff;
    text-decoration: none;
}

nav{    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.logo{
    width: 80%;
}

.sidebar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #6D1277;
    border-radius: 10px 0px 0px 10px;
    margin-right: 15px;
    padding: 1em;
}

.ContainerContent{
    width: 90vw;
    height: 100vh;
    background-color: #fff;
    border-radius: 10px;
    padding-right: 1em;
    display: flex;
}

.logout{
    width: 140px;
    height: 45px;
}

/* Computadores */

.contentText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contentText h1{
    font-size: 1em;
}

.contentText p{
    margin: 0;
    font-size: 15px;
}

.text-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addpc{
    margin: 1em;
}